    @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Ubuntu&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
    }
    /* Шапка */
    
    header {
        display: flex;
        /* background-color: crimson; */
        height: 80px;
        align-items: center;
    }
    
    .container {
        background-color: cornflowerblue;
        display: flex;
        width: 1190px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        /* flex-wrap: wrap; */
    }
    
    nav {
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
        align-items: center;
        text-decoration: none;
        font-family: 'Exo 2';
        font-size: 15px;
        color: #000;
    }
    
    .nav-items {
        text-decoration: none;
        font-family: 'Exo 2';
        font-size: 15px;
        color: #000;
    }
    
    .zakaz {
        background-color: #55A342;
        width: 190px;
        height: 50px;
        border: none;
    }
    
    .btn {
        color: white;
        text-decoration: none;
        font-family: 'Exo 2';
        font-size: 15px;
        padding: 15px;
    }
    /* Первый блок */
    
    .first-sect {
        margin-top: 50px;
        display: flex;
    }
    
    .intro {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 8rem;
    }
    
    h1 {
        font-family: 'exo 2';
        font-size: 35px;
        text-align: left;
        font-weight: 700;
    }
    
    .inrt_txt {
        margin-top: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        letter-spacing: 0.025em;
    }
    /* Наши преимущества */
    
    .second-sect {
        width: 100%;
        margin-top: 50px;
        display: flex;
        background-color: #C9FFBB;
        flex-direction: column;
    }
    
    .advantage {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .adv-items {
        display: flex;
        background-color: darkslategray;
        flex-direction: column;
    }
    /* Мы строим дома */
    
    .three-sect {
        margin-top: 50px;
        display: flex;
        background-color: indianred;
        /* flex-direction: column; */
    }
    
    .house1 {
        border: 1px solid;
    }
    /*Этапы строительства*/
    
    .fourth-sect {
        margin-top: 50px;
        background-color: chartreuse;
    }
    /* Наши реализованные проекты */
    
    .fifth-sect {
        margin-top: 50px;
        display: flex;
        background-color: crimson;
    }
    /* Обратная связь */
    
    .sixth-sect {
        margin-top: 50px;
        display: flex;
        background-color: darkgreen;
    }
    /* Отзывы */
    
    .seventh-sect {
        margin-top: 50px;
        display: flex;
        background-color: darkorchid;
    }