@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}


/* Шапка */

header {
    display: flex;
    background-color: crimson;
    height: 80px;
}

.container {
    background-color: cornflowerblue;
    display: flex;
    width: 1190px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* Первый блок */

.first-sect {
    margin-top: 50px;
    display: flex;
    background-color: darkkhaki;
}

.intro {
    display: flex;
    align-items: center;
}


/* Наши преимущества */

.second-sect {
    width: 100%;
    margin-top: 50px;
    display: flex;
    background-color: darkmagenta;
    flex-direction: column;
}

.advantage {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: auto;
}

.adv-items {
    display: flex;
    background-color: darkslategray;
    flex-direction: column;
}


/* Мы строим дома */

.three-sect {
    margin-top: 50px;
    display: flex;
    background-color: indianred;
}

.catalog-items {
    background-color: lawngreen;
}